<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Demo</title>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
  <script src="app/js/controllers.js"></script>
</head>
<body>

<div class="main" ng-controller = "MyController">
  <!--<label for="search">Search</label>-->
  <!--<input ng-model="q" type="search" class="form-control" id="search" placeholder="Tweet Text..." autofocus>-->
  <div>
  	<input ng-model="query" placeholder="Enter a search term" autofocus>
  </div>
  <table>
    <thead>
      <tr>
        <th>
          Hashtags
        </th>
        <th>
          Twitter Handle
        </th>
        <th>
          User's Name
        </th>
        <th>
          Tweet Text
        </th>
        <th>
          Tweet Sentiment
        </th>
    </thead>
    <tbody>
      <tr ng-repeat="tweet in tweets | filter: query">
        <td>
  	       <p ng-repeat="hashtags in tweet.object['hashtags']">
           {{  hashtags }}
           </p>
        </td>
        <td>	
          <a ng-href="{{ tweet.object.author.author_uri }}">
            {{ tweet.object.author['author_alias'] }}
          </a>
        </td>
        <td>
          {{ tweet.object.author['author_name'] }}
        </td>
        <td>
          {{ tweet.object['text'] }}
          <p><a  ng-href="{{ tweet.object.tweet_uri }}">Link to Tweet</a></p>
        </td>
        <td ng-style="{'background-color': '{{ tweet.object.sentiment.color }}'}">
          {{ tweet.object.sentiment.type }}
        </td>   
    <!--<li class="animate-repeat" ng-if="results.length == 0">-->
    <!--  <strong>No results found...</strong>-->
    <!--</li>-->
    </tbody>    
  </table>
</div>

</body>
</html>